# Create or Replace & CTAS
1. Difference between Create or Replace vs Drop and Create Table statements
2. CTAS statement

1. Difference between Create or Replace vs Drop and Create Table

Behavior of the DROP and CREATE statement

In [0]:
-- DROP TABLE IF EXISTS delta_lake.test_table;

CREATE OR REPLACE TABLE delta_lake.test_table(
  id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 100 INCREMENT BY 10),
  name STRING COMMENT 'Provide a comment for the column',
  dob DATE,
  birth_year INT GENERATED ALWAYS AS (YEAR(dob))
)
COMMENT 'Provide a comment for the table here'
TBLPROPERTIES (
  'sensitive'='true',
  delta.checkpoint.writeStatsAsJson=true
);

INSERT INTO delta_lake.test_table
(name, dob)
VALUES
('Tom', '1970-01-01'),
('Tiffany', '1973-01-01'),
('Jeff', '1992-01-01'),
('Jane', '2001-01-01');

In [0]:
DESC HISTORY delta_lake.test_table;

2. CTAS statement

In [0]:
CREATE TABLE delta_lake.test_table2
AS
SELECT * FROM delta_lake.test_table
WHERE name LIKE 'J%'

In [0]:
DESC HISTORY delta_lake.test_table2;

One limitation with CTSA is no control over the column properties. \
However, there are a couple of work arounds.

CAST column data type

In [0]:
DROP TABLE IF EXISTS delta_lake.test_table2;

CREATE TABLE delta_lake.test_table2
AS
SELECT
  CAST(id AS INT) as id,
  name,
  dob,
  birth_year
FROM delta_lake.test_table
WHERE name LIKE 'J%';

"ALTER" column properties

In [0]:
ALTER TABLE delta_lake.test_table2
  ALTER COLUMN id SET NOT NULL;
  
ALTER TABLE delta_lake.test_table2
  ALTER COLUMN birth_year COMMENT 'born year';

In [0]:
DESC EXTENDED delta_lake.test_table2;