# Insert Overwrite
1. Replace all data in a table
2. Replace all data from a specific partition
3. How to handle schema change

**_INSERT OVERWRITE_** - overwrites existing data in a table or specific partition with the new data \
**_INSERT INTO_** - append new data

1. Replace all data in a table

In [0]:
DROP TABLE IF EXISTS delta_lake.test_table;
CREATE OR REPLACE TABLE delta_lake.test_table(
  id INT,
  name STRING,
  dob DATE
);

INSERT INTO delta_lake.test_table
(id, name, dob)
VALUES
(1, 'Tom', '1970-01-01'),
(2, 'Tiffany', '1973-01-01'),
(3, 'Jeff', '1992-01-01'),
(4, 'Jane', '2001-01-01');

SELECT * FROM delta_lake.test_table;

In [0]:
SELECT * FROM delta_lake.test_table2;

In [0]:
INSERT OVERWRITE delta_lake.test_table2
SELECT * FROM delta_lake.test_table;

In [0]:
INSERT INTO delta_lake.test_table2
SELECT * FROM delta_lake.test_table;

In [0]:
desc history delta_lake.test_table2;

2. Replace all data from a specific partition

In [0]:
DROP TABLE IF EXISTS delta_lake.test_table;
CREATE OR REPLACE TABLE delta_lake.test_table(
  id INT,
  name STRING,
  gender STRING,
  dob DATE
)
PARTITIONED BY (gender);

INSERT INTO delta_lake.test_table
(id, name, gender, dob)
VALUES
(1, 'Tom', 'M', '1970-01-01'),
(2, 'Tiffany', 'F', '1973-01-01'),
(3, 'Jeff', 'M', '1992-01-01'),
(4, 'Jane', 'F', '2001-01-01');

SELECT * FROM delta_lake.test_table;

In [0]:
desc extended delta_lake.test_table;

In [0]:
DROP TABLE IF EXISTS delta_lake.test_table_male;
CREATE OR REPLACE TABLE delta_lake.test_table_male(
  id INT,
  name STRING,
  gender STRING,
  dob DATE
);

INSERT INTO delta_lake.test_table_male
(id, name, gender, dob)
VALUES
(10, 'John', 'M', '1980-01-01'),
(20, 'Joe', 'M', '1996-01-01'),
(30, 'Tim', 'M', '2012-01-01'),
(40, 'Ted', 'M', '2011-01-01');

SELECT * FROM delta_lake.test_table_male;

In [0]:
SELECT * FROM delta_lake.test_table;

In [0]:
INSERT OVERWRITE TABLE delta_lake.test_table
PARTITION(gender="M")
SELECT 
  id,
  name,
  dob
FROM delta_lake.test_table_male;

In [0]:
desc history delta_lake.test_table;

In [0]:
RESTORE TABLE delta_lake.test_table
version as of 1;

In [0]:
SELECT * FROM delta_lake.test_table;

In [0]:
INSERT INTO TABLE delta_lake.test_table
--PARTITION(gender="M")
SELECT *
--  id,
--  name,
--  dob
FROM delta_lake.test_table_male;

3. How to handle schema changes

Insert Overwrite -> Overwrite data in the table or partition when there is no schema change
Create or replace table -> When there are schema changes